@font-face {
	font-family: "Hinora";
	src: url('Hinora.eot');
	src: url('Hinora.eot?#iefix') format('eot'),
		url('Hinora.woff2') format('woff2'),
		url('Hinora.woff') format('woff'),
		url('Hinora.ttf') format('truetype'),
		url('Hinora.svg#Hinora') format('svg');
}

.icon:before {
	font-family: "Hinora";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-breadcrumbs:before {
	content: "\E001";
}

.icon-facebook:before {
	content: "\E002";
}

.icon-twitter:before {
	content: "\E003";
}
