.widgetBox.widgetFaq {
  .panel {
    border-radius: 0;
    border-color: #55acd0;
    @include prefixer(border-radius, 0, moz webkit);
  }
  .panel-heading {
    padding: 0;
    background-color: #55acd0;
    color: #fff;

    @include prefixer(border-radius, 0, moz webkit);

    a {
      display: block;
      padding: 10px 12px;
      text-decoration: none;
    }
  }
}
