@import 'custom_select';
@import 'custom_autocomplete';

label {
  .required{
    color:#f00;
  }
}
textarea {
  resize: none;
}
.form-group {
  position: relative;

  .with-errors {
    display: none;
  }
  &.has-error .with-errors {
    display: block;
    margin-bottom: 0;

    ul {
      margin-bottom: 0;
    }
  }

  &.no-margin {
    margin-bottom: 0;
  }

  &.margin-top {
    margin-top: 15px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  vertical-align: middle;

  input {
    display:none;

    &:checked + .slider {
      background-color: #2196F3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}

.iconCheckBox-group {
  font-size: 0;
  position: absolute;
  right: 15px;
  width: auto;
  padding: 0;
  top: 10px;

  .iconCheckBox {
    &:first-child {
      input:checked + i {
        border-color: #364150;
      }
      i {
        border-left: 1px solid #ccc;
      }
    }
  }
}

.iconCheckBox {
  margin: 0 0 0 -1px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;

  input {
    visibility: hidden;
    position: absolute;

    &:checked {
      & + i {
        color: #364150;
        border-color: #364150;
        z-index: 1;
        position: relative;
      }
    }
  }
  i {
    font-size: 16px;
    border: 1px solid #ccc;
    color: #c0c0c0;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
  }
}

.checkBoxInput {
  position: relative;
  margin-bottom: 0;
  padding-left: 23px;
  font-weight: normal;
  color: #000;
  margin-right: 10px;

  @include user-select();

  &.radioBox {
    span:not(.not-check) {
      border: 1px solid rgba(1,1,1,.5);
      background: rgba(0,0,0,.05);
      border-radius: 50%;
      box-shadow: inset 0 3px 1px -1px rgba(1,1,1,.17);
    }
    input:checked + span:not(.not-check) {
      background: #ba8d63;
      border: 0;
      box-shadow: inset 0 3px 1px -1px rgba(1,1,1,.17), 0 1px 0 rgba(255,255,255,.61);

      &:before {
        display: none;
      }
    }
  }

  input {
    visibility: hidden;
    position: absolute;
    margin: 0;

    &:checked + span:not(.not-check):before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      background: #5CB85C;
      margin-left: 0;
      cursor: pointer;
      border: none;
    }
  }

  span:not(.not-check) {
    position: absolute;
    left: 0;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    font-weight: 900;

    @include prefixer(border-radius, 2px, moz webkit spec);
  }
}

.checkBoxInput + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  background: #fff;
}
.checkBoxInput + label.block {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 15px 15px 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.checkBoxInput:checked + label span:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  cursor: pointer;
  background-color: #5CB85C;
  border: none;
  position: absolute;
  top: 2px;
}
.checkBoxInput:checked + label.block {
  background-color: #5CB85C;
}

.characters {
  text-align: right;
  margin-bottom: -17px;
  font-size: 12px;

  .characters-inside {
    display: inline-block;
    padding: 0 10px;

    @include prefixer(border-radius, 0 0 4px 4px, moz webkit spec);
    @include prefixer(transition, all .3s, moz webkit spec);
  }

  &.character-warning .characters-inside {
    background: #f0ad4e;
    color: #fff;
  }

  &.character-full .characters-inside {
    background: #d9534f;
    color: #fff;
  }
}